<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <footer id="rodape">
        <div id="nome">
            <p>AGRIRSLAB</p>
        </div>
        <div id="redes">
            <div class="links">
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/agrirslabinpe" target="_blank">GitHub</a>
            </div>
            <div class="links">
                <i class="fa-brands fa-linkedin"></i>
                <a href="https://www.linkedin.com/company/agrirslab/" target="_blank">Linkedin</a>
            </div>
            <div class="links">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:agrirs@inpe.br" target="_blank">Email</a>
            </div>
        </div>
    </footer>
</body>
</html>