<header>
    <div class="toolbar container">
        <div id="logo">
            <img src="img/Imagem1.png" alt="Logo" id="imglogo">
            <div class="txtbar">
                <h2>AgriRSLab</h2>
                <p>Agricultural Remote Sensing Laboratory - INPE</p>
            </div>
        </div>
        <div class="fullbtn">
            <a class="btnpadrao" href="#/home">Início</a>
            <a class="btnpadrao" href="#/sobre">Sobre</a>
            <a class="btnpadrao" href="#/atuacao">Atuação</a>
            <a class="btnpadrao" href="#/publicacoes">Publicações</a>
            <a class="btnpadrao" href="#/noticias">Notícias</a>
            <a class="btnpadrao" href="#/contatos">Contatos</a>
        </div>

    </div>
</header>