<header>
    <div class="toolbar">
        <div id="logo">
            <img src="img/Imagem1.png" alt="Logo" id="imglogo">
            <div class="txtbar">
                <h2>AgriRSLab</h2>
                <p>Agricultural Remote Sensing Laboratory - INPE</p>
            </div>
        </div>
        <div class="fullbtn">
            <a class="btnpadrao" href="#/home">Início</a>
            <a class="btnpadrao" href="#/sobre">Sobre</a>
            <a class="btnpadrao" href="#/noticias">Notícias</a>
            <a class="btnpadrao" href="#/equipe">Equipe</a>
            <a class="btnpadrao" href="#/colaboradores">Colaboradores</a>
            <a class="btnpadrao" href="#/publicacoes">Publicação</a>
            <a class="btnpadrao" href="#/area-pesquisa">Área de Pesquisa</a>
            <a class="btnpadrao" href="#/contatos">Contatos</a>
            <a href="btnpadrao" href="#/linknovo"></a>
        </div>

    </div>
</header>